*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #ed4d1b;
    --cor2: #ff9a3c;
    --preto: #000;
    --branco: #fff;
}

body{
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem; 
}